{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src='{% static "js/Environment.js" %}'> </script>
    <meta charset="UTF-8">
    <title>Game Page</title>
</head>
<body>

<div class="aligner">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Logic Game:</h5>
                <h6 id="step_count" class="card-subtitle mb-2 text-muted">Current Action Count: 0</h6>
                <h6 id="level_count" class="card-subtitle mb-2 text-muted">Level: 0</h6>
        </div>
     </div>
</div>

<form id = "finish" action="/game_finished/" method="POST" >
    {% csrf_token %}
    <input type="hidden" id = "data" name="data" value="" />
</form>

<div id="container"></div>

<!-- mturk form  -->

<div id="wrapper">
  Finish
    <button type="button" id="submitMturk" alt="submitMturk" value=""> </button>
    <div id="end-dialog-message" title="Ready to submit?">
</div>

<form id = "endForm" action="{{ name.amazon_host }}" method="POST">
  <input type="hidden" id="user-input" value="" name="user-input"/>
  <input type="hidden" id="assignmentId" value="{{ name.assignment_id }}" name="assignmentId"/>
  <input type="hidden" id="workerId" value="{{ name.worker_id }}" name="workerId"/>
  <input type="hidden" id="hitId" value="{{ name.hit_id }}" name="hitId"/>
</form>

<!-- end of mturk form  -->


<script>

    // Construct the game
    let game = new Game("contingency");
    var markup = game.getBoard().map(row => row.map(col => `<span class="field ${col === 8 ? "avatar" : col === 3 ? "goal" : col === 0 ? "grass" : "wall" }"></span>` ).join("")).join("<span class='clear'></span>");
    document.getElementById("container").innerHTML = markup;

    function paintBoard() {
        console.log("painting");
        markup = game.getBoard().map(row => row.map(col => `<span class="field ${col === 8 ? "avatar" : col === 3 ? "goal" : col === 0 ? "grass" : "wall" }"></span>` ).join("")).join("<span class='clear'></span>");
        document.getElementById("container").innerHTML = markup;
    }

    $(document).ready(function(){
        document.addEventListener("keydown", keyHandler, false);
        function keyHandler(event) {
            if (document.readyState === 'complete'&& // listen only if document is loaded
                (event.key === 'w' || event.key === 'a' || event.key === 's' || event.key === 'd'
                    || event.key === 'ArrowUp' || event.key === 'ArrowDown' || event.key === 'ArrowLeft' ||
                    event.key === 'ArrowRight')) { // move
                let tmp;
                switch (event.key) {
                    case "w":
                        tmp = 0;
                        break;
                    case "s":
                        tmp = 1;
                        break;
                    case "a":
                        tmp = 2;
                        break;
                    case "d":
                        tmp = 3;
                        break;
                    case "ArrowUp":
                        tmp = 0;
                        break;
                    case "ArrowDown":
                        tmp = 1;
                        break;
                    case "ArrowLeft":
                        tmp = 2;
                        break;
                    case "ArrowRight":
                        tmp = 3;
                        break;
                }

                game.move(tmp);
                document.getElementById("step_count").textContent = "Current Action Count: " + game.getCurrentActionCount();
                document.getElementById("level_count").textContent = "Level: " + game.getLevelCount();
                paintBoard();
                if( game.getLevelCount() === 5 ) {
                    document.getElementById("data").value = JSON.stringify(game.getData());
                    alert(JSON.stringify(game.getData()));
                    document.getElementById("finish").submit();
                }
    }}});


    //mturk submit
    function endDialog() {
    $( "#end-dialog-message" ).dialog({
      resizable: false,
      height:140,
      modal: true,
      buttons: {
        "Submit Results?": function() {
          var string = "whateverFinalResultsWeWantToPass";
          $('input[name="user-input"]').val(string);
          $("#endForm").submit();
          $( this ).dialog( "close" );
          // alert("Just in case, this blacks out the screen");
          $("#wrapper").remove();
          $("body").append('<div id="endsplash" style ="height:100%;width:100%;top:0px;left:0px;z-index:999;background:rgba(0,0,0,1);"> </div>');
        },
        Cancel: function() {
          $( this ).dialog( "close" );
        }
      }
    });


  }

  $('#submitMturk').click(function(){
    endDialog();
  });


</script>


<style>

    .field {
      float: left;
      height: 20px;
      width: 20px;
      border: 1px solid #000;
    }

    .clear {
      clear: both;
      float: left;
    }

    .grass {
      background: gray;
    }

    .wall {
      background: black;
    }

    .avatar {
      background: red;
    }

    .goal {
      background: green;
    }

</style>

</body>
</html>