<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Demographics</title>
</head>
<body>

<form id="finish" action="{% url 'game_finished' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" id="data" name="data" value=""/>
    <input id="worker_id" name="worker_id" type="hidden" value="{{ worker_id }}"/>
    <input id="gameType" name="gameType" type="hidden" value="logic"/>
</form>

<div class="d-flex justify-content-center h-100">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Before finishing, please answer the questions below.</h4>
            <form id="before_consent" method="POST" action="">
                <form id="demographics" method="POST" action="">
                    {% csrf_token %}
                    {{ form.as_p }}


                    <div class="d-flex justify-content-center mt-3 login_container">
                        <input id="submitbtn" class="btn btn-primary" type="submit" value="Submit">
                    </div>
                </form>

                {{ form.errors }}

            </form>
        </div>

    </div>
</div>

</body>
</html>