<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>

<form id="play" action="{% url 'logic' %}" method="GET">
    {% csrf_token %}
    <input id="assignmentId" name="assignmentId" type="hidden" value="{{ assignment_id }}"/>
    <input id="workerId" name="workerId" type="hidden" value="{{ worker_id }}"/>
    <input id="hitId" name="hitId" type="hidden" value="{{ hit_id }}"/>
    <input id="amazon_host" name="amazon_host" type="hidden" value="{{ amazon_host }}"/>
</form>

<div class="center">

    <div class="card">
        <div class="card-body" id="midright">
            <h2>Consent Form:</h2>
            <iframe src="https://ku.ethicalintelligencelab.com/consent_Form.pdf" style="width:600px; height:600px;"
                    frameborder="0"></iframe>

            <form id="consent">
                <p>By selecting "I agree", you are consenting to the conditions described above.</p>
                <input type="radio" id="agree" name="consent" value="1">
                <label for="agree">I agree</label><br>
                <input type="radio" id="disagree" name="consent" value="0">
                <label for="disagree">I disagree</label><br>
                <input type="submit" class="btn btn-success" value="Submit">
            </form>

        </div>

    </div>
</div>

<script>

    const consentForm = document.getElementById('consent');
    consentForm.addEventListener('submit', checkSubmit);


    function checkSubmit(event) {
        let consentVal = document.querySelector('input[name="consent"]:checked').value
        if (consentVal !== "1") {
            alert("You should accept the consent form to continue.")
        } else {
            document.getElementById("play").submit();
        }
        event.preventDefault();
    }

</script>
<style>

    .center {
        margin: auto;
        width: 50%;
        padding: 10px;
    }

    #midright {
        position: absolute;
        top: 10px;
        right: 10px;
    }

</style>
</body>
</html>